{{line-clamp text="Some text"}}
<span style="background-color: red;">
    Hover me 1
    {{ember-tooltip text="This is text 1"}}
</span>
<span style="background-color: blue;">
    Hove me 2
    {{ember-tooltip text="This is text 2"}}
</span>
